@tailwind base;
@tailwind components;
@tailwind utilities;

.form-label {
  @apply mb-2 block font-semibold select-none;
}

.form-input,
.form-textarea,
.form-select {
  @apply relative p-2 leading-normal block w-full border border-black rounded text-left appearance-none focus:outline-none focus:ring-1 focus:ring-orange focus:border-orange;
  @apply placeholder-gray-500 placeholder-opacity-100;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.05) inset;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.05) inset;
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.05) inset;
}

.title{
    @apply font-bold text-2xl;
  }
.description{
    @apply text-sm
}

.toptranscipt{
  background-color: black;
}

.content-toggle{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 22px;
  height: 30px;
  cursor: pointer;
  color: black;
  background-color: #f9f9f9;
  position: absolute;
  top: 18px;
  right: auto;
  left: 0;
  bottom: auto;
  border-radius: 0 50% 50% 0;
  z-index: 10;
  box-shadow: -4px 0px 6px 0px rgba(0,0,0,0.13) inset;
  -webkit-box-shadow: -4px 0px 6px 0px rgba(0,0,0,0.13) inset;
  -moz-box-shadow: -4px 0px 6px 0px rgba(0,0,0,0.13) inset;
}
.content-toggle:hover{
  color: #EB6100;
}
@media only screen and (max-width: 768px)
{
  .content-toggle{
    display: none;
  }
}

/* Main Container */

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  overflow: hidden;
}

/* Video */

.video {
  width: 100vw;
  height: auto;
}

/* Controls */

.controlsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: transparent;
  margin-top: -50vw;
  padding: 0 40px;
  z-index: 20;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 18rem;
  margin: auto;
}

.controlsIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 10rem;
  margin-right: 10rem;
}

.controlsIcon--small {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-left: 10rem;
  margin-right: 10rem;
}

/* The time controls section */

.timecontrols {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 4rem;
  margin-left: 10vw;
}

.time_progressbarContainer {
  background-color: gray;
  border-radius: 15px;
  width: 75vw;
  height: 5px;
  z-index: 30;
  position: relative;
  margin: 0 20px;
}

.time_progressBar {
  border-radius: 15px;
  background-color: indigo;
  height: 100%;
}

.controlsTime {
  color: white;
}

.btn-orange {
  @apply bg-orange text-white p-4 font-semibold rounded-lg
}